/*meyerweb reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*//////////////////////////////////////////////*/

:root {
    --color-brand--1: #3d405b;
    --color-brand--2: #e07a5f;
    --color-brand--3: #f4f1de;
    --color-brand--4: #81b29a;

    --color-dark--1: #fff;
    --color-light-1: #fff;

    --font-main: 'Josefin Sans', sans-serif;
}

/*//////////////////////////////////////////////*/
body {
    font-family: var(--font-main);
}

header {
    height: 160px;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    padding: 40px 0 0px 0;
}

h3 {
    font-size: 16px;
    padding: 0 0 30px 0;
    font-style: italic;
    font-weight: 200;
}

p {
    font-size: 22px;
    font-style: italic;
    font-weight: 200;
    /* text-decoration: wavy;
    text-decoration-color: aquamarine; */
}

main {
    /* background-color: var(--color-brand--1); */
    min-height: 600px;
}

/*Modal pop-up*/
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.openModalBtn {
    font-size: 40px;
    border-radius: 50%;
    border-style: none;
    background-color: var(--color-brand--2);
    color: #fff;
    height: 50px;
    width: 50px;
    transition: transform .5s ease-out;
    cursor: pointer;
}

.openModalBtn:hover {
    transform: rotate(90deg);
}

/* .openModalBtnHidden {
    display: none;
    padding: 10px;
} */

/* .openModalBtn:hover+.openModalBtnHidden {
    display: block;
    color: var(--color-brand--1);
} */

.modal {
    display: none;
    position: fixed;
    left: 40%;
    top: 300px;
    width: 320px;
}

.modal-content {
    background-color: var(--color-brand--1);
    color: var(--color-brand--3);
    border: none;
    border-radius: 20px;
    width: 260px;
    height: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.closeModal {
    color: var(--color-brand--3);
    float: right;
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
}


/* Modal Form */
input[type=text],
checkbox {
    width: 100%;
    height: 36px;
    border: solid 1px var(--color-brand--2);
    border-radius: 10px;
    margin: 6px 0 22px 0;
    outline: none;
}

input[type=text]:focus {
    border-bottom-width: 4px;
    border-color: var(--color-brand--2);
}

label {
    font-size: 16px;
}

.addBookBtn {
    display: block;
    background-color: var(--color-brand--2);
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: var(--font-main);
    transition: .3s;
    margin: 20px;
    cursor: pointer;
}


/* .addBookBtn:disabled {
    background-color: rgb(177, 177, 177);
} */

/*
Use
:active:hover:not([disabled])
to apply hover effect only on enabled button
*/

.addBookBtn:hover {
    background-color: var(--color-brand--3);
    color: var(--color-brand--2);
}


/* Data display card*/
.container__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    grid-auto-flow: row;
    grid-gap: 10px;
    margin: 0 30px;
}


.data__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand--1);
    color: var(--color-brand--3);
    border-radius: 16px;
    padding: 30px;
}

.book__details {
    width: 220px;
    line-height: 1.6;
    text-align: center;
    font-size: 20px;
}

.book__title {
    font-size: 24px;
    border-bottom: .5px solid var(--color-brand--2);
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* overflow: hidden; */
}


.card__btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
    width: 220px;
    height: 80px;
    margin-top: 14px;
    font-size: 18px;
}

.card__read {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.card__edit,
.card__delete {

    grid-row-start: 2;
    grid-row-end: 3;
}

.card__read,
.card__edit,
.card__delete {
    font-family: var(--font-main);
    background-color: var(--color-brand--2);
    color: var(--color-brand--3);
    min-height: 32px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.card__read.read {
    background-color: var(--color-brand--4);
}



footer {
    width: 100%;
    display: block;
    /* position: fixed;
    bottom: 0; */
    text-align: center;
    color: black;
    padding: 20px 0;
}